(
    id: "intro",
    name: "The Beginning",

    // Room type: "square" uses border walls, "cave" uses cellular automata
    room_type: "square",

    player_start: (0.0, -200.0),

    // Dialogue plays when entering the room (optional - omit or empty for no dialogue)
    dialogue: [
        (speaker: "Duck", text: ""),
        (speaker: "Duck", text: "Listen we need to get out of here. The only way out is to choose a door.."),
        (speaker: "Duck", text: "Only problem is when you choose a door, you cant come back.."),
        (speaker: "Duck", text: "Alright, lead the way"),

    ],

    // Doors in this room
    doors: [
        (
            position: (-200.0, 200.0),
            leads_to: "level_02",
            label: "Left Door",
            locked: false,
            key_required: None,
        ),
        (
            position: (200.0, 200.0),
            leads_to: "level_02",
            label: "Right Door",
            locked: false,
            key_required: None,
        ),
    ],

    // Boss fight (optional - omit or None for no boss)
    boss: None,

    // Items in the room (optional)
    items: [],

    // NPCs in the room
    npcs: [
        (name: "duck", position: (100.0, 200.0), extra: [Follow(speed: 5.0, distance: 50.0)]),
    ],

    music: Some("Melancholic Walk"),
)
